<!DOCTYPE html>
<html lang="en">
{% extends "layout/rootAdmin.html" %}
{% block adminTitle %} Accueil {% endblock adminTitle %}
{% block body %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <a href="/admin/users" style="width: 100%;">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-account-o"></i>
                                                </div>
                                                <div class="text">
                                                    <h2>{{countUsers}}</h2>
                                                    <span>Membres</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <a href="/admin/restaurants" style="width: 100%;">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-calendar-note"></i>
                                                </div>
                                                <div class="text">
                                                        <h2> {{countRestaurants}}</h2>
                                                    <span>Restaurants</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="icon">
                                                <i class="zmdi zmdi-shopping-cart"></i>
                                            </div>
                                            <div class="text">
                                                <h2>{{countCommandes}}</h2>
                                                <span>Ventes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <div class="overview__inner">
                                        <div class="overview-box clearfix">
                                            <div class="text">
                                                <h2>{{countBenefices}} €</h2>
                                                <span>Benefices</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Commandes</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Commande n°</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Client n°</th>
                                                <th class="text-center">Restaurant n°</th>
                                                <th class="text-center">Prix (sans commission)</th>
                                                <th class="text-center">total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for commande in commandes %}
                                                <tr>
                                                    <td class="text-center">{{commande['id_commande']}}</td>
                                                    <td class="text-center">{{commande['statut']}}</td>
                                                    <td class="text-center"><a href="/admin/users/{{commande['id_commande']}}">{{commande['id_user']}}</a></td>
                                                    <td class="text-center"><a href="/admin/restaurants/{{commande['id_restaurant']}}">{{commande['id_restaurant']}}</a></td>
                                                    <td class="text-center">{{commande['prix']}} €</td>
                                                    <td class="text-center">{{commande['prix']+3}} €</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
{% endblock body %}
</body>

</html>
<!-- end document-->

