<!DOCTYPE html>
<html lang="en">
{% extends "layout/rootAdmin.html" %}
{% block adminTitle %}
    {% for restaurant in restaurant %}
        {{restaurant['nom']}}
    {% endfor %}
{% endblock adminTitle %}
{% block body %}
            <!-- END HEADER DESKTOP-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-5">
                                <h2 class="title-1 m-b-25">Restaurant</h2>
                                <!-- USER DATA-->
                                <div class="user-data m-b-30">
                                    <h3 class="title-3 m-b-30 text-center">Informations
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </h3>
                                    <div class="filters m-b-45">
                                        {% for restaurant in restaurant %}
                                            <p>
                                                <img src="{{restaurant['photo']}}">
                                            </p>
                                            <p>
                                                Restaurant N° : {{restaurant['id_restaurant']}}
                                            </p>
                                            <p>
                                                <a href="/admin/users/{{restaurant['id_user']}}">Restaurateur N° {{restaurant['id_user']}}</a>
                                            </p>
                                            <p>
                                                Nom : {{restaurant['nom']}}
                                            </p>
                                            <p>
                                                Description : {{restaurant['description']}}
                                            </p>
                                            <p>
                                                Catégorie : {{restaurant['catégorie']}}
                                            </p>
                                            <p>
                                                Code Postal : {{restaurant['code_postal']}}
                                            </p>
                                            <p>
                                                Ville : {{restaurant['ville']}}
                                            </p>
                                            <p>
                                                Adresse : {{restaurant['rue']}}
                                            </p>
                                            <p>
                                                Téléphone : 0{{restaurant['téléphone']}}
                                            </p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- END USER DATA-->
                            </div>
                            <div class="col-lg-7">
                                <h2 class="title-1 m-b-25">Commandes</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Commande n°</th>
                                                <th class="text-center">Statut</th>
                                                <th class="text-center">Client n°</th>
                                                <th class="text-center">Prix</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for commande in commandes %}
                                                <tr>
                                                    <td class="text-center">{{commande['id_commande']}}</td>
                                                    <td class="text-center">{{commande['statut']}}</td>
                                                    <td class="text-center"><a href="/admin/users/{{commande['id_user']}}">{{commande['id_user']}}</a></td>
                                                    <td class="text-center">{{commande['prix']}} €</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Plats</h2>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th class="text-center"></th>
                                                <th class="text-center">Plat n°</th>
                                                <th class="text-center">Nom</th>
                                                <th class="text-center">Catégorie</th>
                                                <th class="text-center">Description</th>
                                                <th class="text-center">Prix</th>
                                                <th class="text-center">Photo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for plat in plats %}
                                                <tr>
                                                    <td class="text-center">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-center">{{plat['id_restaurant']}} </a></td>
                                                    <td class="text-center">{{plat['nom']}}</td>
                                                    <td class="text-center">{{plat['categorie']}}</td>
                                                    <td class="text-center">{{plat['description']}} </a></td>
                                                    <td class="text-center">{{plat['prix']}}</td>
                                                    <td class="text-center"><img src="{{plat['photo']}}"></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}
</html>
<!-- end document-->