<!DOCTYPE html>
<html lang="en">
{% extends "layout/rootAdmin.html" %}
{% block adminTitle %} Utilisateurs {% endblock adminTitle %}
{% block body %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Utilisateurs</h2>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th class="text-center"></th>
                                                <th class="text-right">User n°</th>
                                                <th class="text-center">Email</th>
                                                <th class="text-center">Créé le</th>
                                                <th class="text-center">Role n°</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user in users %}
                                                <tr>
                                                    <td class="text-center">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <form method="POST" action="/admin/users/delete">
                                                          <input type="hidden" value="{{users.id_user}}" name="id_user">
                                                          <input type="hidden" value="{{users.email}}" name="email">
                                                          <input type="hidden" value="{{users.password}}" name="password">
                                                          <input type="hidden" value="{{users.register_on}}" name="register_on">
                                                          <input type="hidden" value="{{users.id_role}}" name="id_role">
                                                          <input class="btn btn-submit  mx-sm-3" style="background-color: #e74c3c; color: white;" type="submit" value="Supprimer">
                                                        </form>
                                                    </td>
                                                    <td class="text-right"><a href="/admin/users/{{user['id_user']}}">{{user['id_user']}} </a></td>
                                                    <td class="text-center">{{user['email']}}</td>
                                                    <td class="text-center">{{user['register_on']}}</td>
                                                    {% if user.id_role==2 %}
                                                        <td class="text-center">Client</td>
                                                    {% elif user.id_role==1 %}
                                                        <td class="text-center">Restaurateur</td>
                                                    {% elif user.id_role==3 %}
                                                        <td class="text-center">Admin</td>
                                                    {% else %}
                                                        <td class="text-center">Pas de rôle</td>
                                                    {% endif %}
                                                </tr>


                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock body %}
</html>
<!-- end document-->
