<!DOCTYPE html>
<html lang="en">
{% extends "layout/rootAdmin.html" %}
{% block adminTitle %} Restaurants {% endblock adminTitle %}
{% block body %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="title-1 m-b-25">Restaurants</h2>
                                <div class="table-responsive table--no-card m-b-40">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th class="text-center"></th>
                                                <th class="text-center">Restaurant n°</th>
                                                <th class="text-center">Restaurateur n°</th>
                                                <th class="text-center">Nom</th>
                                                <th class="text-center">Code postal</th>
                                                <th class="text-center">Ville</th>
                                                <th class="text-center">Adresse</th>
                                                <th class="text-center">Téléphone</th>
                                                <th class="text-center">Photo</th>
                                                <th class="text-center">Descritpion</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for restaurant in restaurants %}
                                                <tr>
                                                    <td class="text-center">
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            <i class="zmdi zmdi-edit"></i>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </td>
                                                    <td class="text-center"><a href="/admin/restaurants/{{restaurant['id_restaurant']}}">{{restaurant['id_restaurant']}}</a></td>
                                                    <td class="text-center"><a href="/admin/users/{{restaurant['id_user']}}">{{restaurant['id_user']}}</a></td>
                                                    <td class="text-center">{{restaurant['nom']}}</td>
                                                    <td class="text-center">{{restaurant['code_postal']}}</td>
                                                    <td class="text-center">{{restaurant['ville']}}</td>
                                                    <td class="text-center">{{restaurant['rue']}}</td>
                                                    <td class="text-center">0{{restaurant['telephone']}}</td>
                                                    <td class="text-center"><img src="{{restaurant['photo']}}"></td>
                                                    <td class="text-center">{{restaurant['description']}}</td>

                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
{% endblock body %}
</html>
<!-- end document-->
