<!DOCTYPE html>
<html lang="en">
{% extends "layout/root.html" %}
{% block title %} Accueil {% endblock title %}
{% block body %}
    <!-- END nav -->
    
    <div class="hero-wrap" style="background-image: url('{{ url_for('static', filename='images/marche-perou.jpg') }}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-8 ftco-animate d-flex align-items-end">
          	<div class="text w-100 text-center">
	            <h1 class="mb-4"><span>Spicy Food for Hot Moments</span>.</h1>
	            <p>
                    <a href="/restaurants" class="btn btn-primary py-2 px-4">Restaurants</a>
                    {% if g.user.is_authenticated %}
                        <a href="/profil/{{ current_user.id_user }}" class="btn btn-white btn-outline-white py-2 px-4">Profil</a>
                    {% endif %}
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-intro">
    	<div class="container">
    		<div class="row no-gutters">
    			<div class="col-md-4 d-flex">
    				<div class="intro d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-support"></span>
    					</div>
    					<div class="text">
    						<h2>Service consommateurs 24/7</h2>
    						<p>Besoin d'informations? Un problème avec votre commande? Contactez notre service dédié à la clientèle disponnible 24h/24 et 7j/7.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-1 d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-cashback"></span>
    					</div>
    					<div class="text">
    						<h2>Un voyage culinaire garanti</h2>
    						<p>Nos restaurants partenaires sont séléctionnés d'après des critères bien précis pour vous assurer la meilleure qualité possible.</p>
    					</div>
    				</div>
    			</div>
    			<div class="col-md-4 d-flex">
    				<div class="intro color-2 d-lg-flex w-100 ftco-animate">
    					<div class="icon">
    						<span class="flaticon-free-delivery"></span>
    					</div>
    					<div class="text">
    						<h2>Service restaurateurs</h2>
    						<p>Vous êtes restaurateur et vous avez envie de nous rejoindre? Un service entier vous est dédié pour satisfaire tout vos besoins.</p>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url('{{ url_for('static', filename='images/plats-latinoAmericain.jpg') }}');">
				</div>
				<div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
			<div class="heading-section">
			<span class="subheading">Depuis 2020</span>
			<h2 class="mb-4">La culture Latino-Américaine à porté de votre assiète</h2>

			<p>Découvrez et rédecouvrez les plats typiques du Mexique, Chili, Argentine, Brésil et de tant d'autres pays d'Amérique du Sud.</p>
			<p>Une culture immense disponnible rapidement avec un gage de qualité. Faites confiance à nos partenaires séléctionnés par des spécialistes de l'Amérique Latine.</p>
			<p class="year">
				<strong class="number" data-number="{{countRestaurants}}">{{countRestaurants}}</strong>
				<span>restaurants partenaires</span>
			</p>
			</div>

				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-no-pb">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url('{{ url_for('static', filename='images/drapeaux/mexique-drapeau.jpg') }}');"></div>
						<h3>Mexique</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url('{{ url_for('static', filename='images/drapeaux/chili-drapeau.jpg') }}');"></div>
						<h3>Chili</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url('{{ url_for('static', filename='images/drapeaux/argentine-drapeau.jpg') }}');"></div>
						<h3>Argentine</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url('{{ url_for('static', filename='images/drapeaux/bresil-drapeau.jpg') }}');"></div>
						<h3>Brésil</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url('{{ url_for('static', filename='images/drapeaux/perou-drapeau.jpg') }}');"></div>
						<h3>Pérou</h3>
					</div>
				</div>
				<div class="col-lg-2 col-md-4 ">
					<div class="sort w-100 text-center ftco-animate">
						<div class="img" style="background-image: url('{{ url_for('static', filename='images/icons/plus-orange.png') }}');"></div>
						<h3>Autres pays</h3>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-5">
		<div class="col-md-7 heading-section text-center ftco-animate">
		<h2>Tous nos restaurants partenaires</h2>
		</div>
	</div>
			<div class="row">
				{% for restaurant in restaurants %}
					<div class="col-md-3 d-flex">
						<div class="product ftco-animate">
							<div class="img d-flex align-items-center justify-content-center" style="background-image: url('{{restaurant['photo']}}');">
								<div class="desc">
									<p class="meta-prod d-flex">
										<a href="/restaurant/{{restaurant['id_restaurant']}}" class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
									</p>
								</div>
							</div>
							<div class="text text-center">
								<span class="category">{{ restaurant['categorie'] }}</span>
								<h2>{{restaurant['nom']}}</h2>
								<span class="price">{{ restaurant['ville'] }}</span>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4">
					<a href="/restaurants" class="btn btn-primary d-block">Voir plus de restaurants <span class="fa fa-long-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</section>
    {% endblock %}
</html>