<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>S'inscrire</title>

    <!-- Fontfaces CSS-->
    <link href="{{ url_for('static', filename='css/fonts/font-face.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/fonts/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/fonts/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='css/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/wow/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/slick/slick.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/fonts/theme.css') }}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="/">
                                Costin <span>Rica</span>
                            </a>
                        </div>
                        <div class="login-form">
                            <form action="" method="post">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login-checkbox">
                                    <label>
                                        <input type="checkbox" name="remember">Remember Me
                                    </label>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Se connecter</button>
                            </form>
                            <div class="register-link">
                                <p>
                                    Je n'ai pas de compte?
                                    <a href="/register">S'inscrire ici</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Vendor JS -->
    <script src="{{ url_for('static', filename='css/slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/animsition/animsition.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/select2/select2.min.js') }}"></script>

    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>

</body>
</html>
<!-- end document-->