<!DOCTYPE html>
<html lang="en">
{% extends "layout/rootProfil.html" %}
{% block profilTitle %} Panier {% endblock profilTitle %}
{% block body %}
        {% if panier|length %}
                <div class="main-content">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h2 class="title-1 m-b-25">Panier</h2>
                                        <div class="table-responsive table--no-card m-b-40">
                                            <table class="table table-borderless table-striped table-earning">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Restaurant N°</th>
                                                        <th class="text-center">Nom du plat</th>
                                                        <th class="text-center">Prix du plat</th>
                                                        <th class="text-center">Total</th>
                                                        <th class="text-center"></th>
                                                        <th class="text-center"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for panier in panier %}
                                                        <tr>
                                                            <td class="text-center"><a href="/restaurant/{{ panier.id_restaurant }}">{{ panier.id_restaurant }}</a></td>
                                                            <td class="text-center">{{panier['nom_plat']}}</td>
                                                            <td class="text-center">{{panier['prix_plat']}} €</td>
                                                            <td class="text-center">{{panier['prix_plat']+3}} €</td>
                                                            <td class="text-center">
                                                                <form method="post" action="/post_commande/{{ panier['id_panier'] }}">
                                                                    <input type="submit" value="Commander">
                                                                </form>
                                                            </td>
                                                            <td class="text-center">
                                                                <form method="post" action="/panier/{{ panier['id_panier'] }}">
                                                                    <input type="submit" value="Supprimer">
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% else %}
        <div style="padding-top: 10vh; text-align: center">
            <h2>Votre panier est vide. Veuillez cliquez sur ce bouton afin de revenir sur la page d'accueil</h2>
            <h4><a href="/">Retourner au menu principal</a></h4>
        </div>
    {% endif %}
{% endblock body %}
