{% extends "layout/root.html" %}
{% block title %} Ajouter un plat {% endblock title %}
{% block body %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" style="margin-top: 80px">
          <form method="post" action="/post_plat/{{ restaurant.id_restaurant }}">
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Nom de plat:</p> <input class="col-lg-6" type="text" name="nom">
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Description:</p> <textarea class="col-lg-6" name="description"></textarea>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Catégorie:</p>
                  <select class="col-lg-6" name="categorie">
                    <option value="entrée">Entrée</option>
                    <option value="plat">Plat</option>
                    <option value="dessert">Dessert</option>
                    <option value="boisson">Boisson</option>
                  </select>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Photo:</p> <input class="col-lg-6" type="url" name="photo">
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Prix:</p> <input class="col-lg-6" type="number" name="prix">
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Nom du restaurant :</p><select class="col-lg-6 au-input au-input--full" name="role">
                    <option value="{{ restaurant.id_restaurant }}">Restaurant {{ restaurant.nom }}</option>
                  </select></p>
                <input type="hidden" value="{{ restaurant.id_restaurant }}" name="id_restaurant">
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6"><input class="col-lg-6" type="submit"></p>
              </div>
          </form>
        </div>
      </div>
    </div>
  </article>
</body>
{% endblock body %}
</html>
