{% extends "layout/root.html" %}
{% block title %} Créer un restaurant {% endblock title %}
{% block body %}
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form method="post" action="/post_restaurant">
            <br>
            <br>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Nom de restaurant :</p> <input class="col-lg-6" type="text" name="nom"> <br>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Description :</p> <textarea class="col-lg-6" name="description"></textarea> <br>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Catégorie :</p> <input class="col-lg-6" type="text" name="categorie" placeholder="Mexican, Chillien etc..."> <br>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Code postal :</p> <input class="col-lg-6" type="number" name="code_postal"> <br>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Ville :</p> <input class="col-lg-6" type="text" name="ville"> <br>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Rue :</p> <input class="col-lg-6" type="text" name="rue"> <br>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Telephone :</p> <input class="col-lg-6" type="number" name="telephone"> <br>
              </div>
              <div class="row" style="margin-bottom: 10px">
                  <p class="col-lg-6">Photo :</p> <input class="col-lg-6" type="url" name="photo"> <br>
              </div>
              <div class="row">
                  <input type="submit">
              </div>
          </form>
        </div>
      </div>
    </div>
  </article>

</body>
{% endblock body %}
</html>
