<!DOCTYPE html>
<html lang="en">
{% extends "layout/rootProfil.html" %}
{% block profilTitle %} Profil {% endblock profilTitle %}
{% block body %}
            {% if current_user.id_user == profil_user.id_user %}
                <div class="main-content">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-5">
                                        <!-- USER DATA-->
                                        <div class="user-data m-b-30">
                                            <h3 class="title-3 m-b-30 text-center">Informations
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </h3>
                                            <div class="filters m-b-45">
                                                {% for user in user %}
                                                    <p>
                                                        Mail : {{user['email']}}
                                                    </p>
                                                    <p>
                                                        Créé le : {{user['register_on']}}
                                                    </p>
                                                    <p>
                                                        Rôle :
                                                        {% if user.id_role==2 %}
                                                            Client
                                                        {% elif user.id_role==1 %}
                                                            Restaurateur
                                                        {% elif user.id_role==3 %}
                                                            Admin
                                                        {% else %}
                                                            Pas de rôle
                                                        {% endif %}
                                                    </p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- END USER DATA-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% for user in user %}
                                            {% if user.id_role==1 or user.id_role==3 %}
                                                <h2 class="title-1 m-b-25">Restaurants</h2>
                                                <div class="table-responsive table--no-card m-b-40">
                                                    <table class="table table-borderless table-striped table-earning">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Nom</th>
                                                                <th class="text-center">Code postal</th>
                                                                <th class="text-center">Ville</th>
                                                                <th class="text-center">Adresse</th>
                                                                <th class="text-center">Téléphone</th>
                                                                <th class="text-center">Photo</th>
                                                                <th class="text-center">Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for restaurant in restaurants %}
                                                                <tr>
                                                                    <td class="text-center"><a href="/profil/{{ restaurant['id_user'] }}/{{ restaurant['id_restaurant'] }}">{{restaurant['nom']}}</a></td>
                                                                    <td class="text-center">{{restaurant['code_postal']}}</td>
                                                                    <td class="text-center">{{restaurant['ville']}}</td>
                                                                    <td class="text-center">{{restaurant['rue']}}</td>
                                                                    <td class="text-center">0{{restaurant['telephone']}}</td>
                                                                    <td class="text-center"><img src="{{restaurant['photo']}}"></td>
                                                                    <td class="text-center">{{restaurant['description']}}</td>

                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% endif %}
                                            {% if user.id_role==2 or user.id_role==3 %}
                                                <h2 class="title-1 m-b-25">Commandes</h2>
                                                <div class="table-responsive table--no-card m-b-40">
                                                    <table class="table table-borderless table-striped table-earning">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Commande n°</th>
                                                                <th class="text-center">Status</th>
                                                                <th class="text-center">Restaurant n°</th>
                                                                <th class="text-center">Prix (sans commission)</th>
                                                                <th class="text-center">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for commande in commandes %}
                                                                <tr>
                                                                    <td class="text-center">{{commande['id_commande']}}</td>
                                                                    <td class="text-center">{{commande['statut']}}</td>
                                                                    <td class="text-center"><a href="/restaurant/{{commande['id_restaurant']}}">{{commande['id_restaurant']}}</a></td>
                                                                    <td class="text-center">{{commande['prix']}} €</td>
                                                                    <td class="text-center">{{commande['prix']+3}} €</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% else %}
        <div style="padding-top: 10vh; text-align: center">
            <h2>Vous n'avez pas accès à cette page</h2>
            <h4><a href="/">Retourner au menu principal</a></h4>
        </div>
    {% endif %}
{% endblock body %}