<!DOCTYPE HTML>
<html lang="en">

{% extends "layout/root.html" %}
{% block title %}
    {% for restaurant in restaurant %}
        {{ restaurant['nom'] }}
    {% endfor %}
{% endblock title %}
{% block body %}

<head>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts/beyond_the_mountains-webfont.css') }}" type="text/css"/>

        <!-- Stylesheets -->
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/swiper.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/fonts/ionicons.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/restaurant.css') }}" rel="stylesheet">

        {% for restaurant in restaurant %}
                <title>Costin Rica - {{restaurant['nom']}}</title>
        {% endfor %}
</head>


{% for restaurant in restaurant %}
<section class="bg-1 h-900x main-slider pos-relative">
        <div class="triangle-up pos-bottom"></div>
        <div class="container h-100">

                <div class="dplay-tbl">

                        <div class="dplay-tbl-cell center-text color-white">
                                <h5><b>{{restaurant['categorie']}}</b></h5>
                                <h1 class="mt-30 mb-15">{{restaurant['nom']}}</h1>
                                <h5><a href="#menu" class="btn-primaryc plr-25"><b>LES PLATS DU RESTAURANT</b></a></h5>
                        </div><!-- dplay-tbl-cell -->
                </div><!-- dplay-tbl -->
        </div><!-- container -->
</section>

<section id="menu">
        <div class="container">
                <div class="heading">
                        <h2>Le menu</h2>
                </div>

                <div class="row">
                        <div class="col-sm-12">
                                <ul class="selecton brdr-b-primary mb-70">
                                        <li><a class="active" href="#" data-select="*"><b>ALL</b></a></li>
                                        <li><a href="#" data-select="entrée"><b>ENTRÉES</b></a></li>
                                        <li><a href="#" data-select="plat"><b>PLATS</b></a></li>
                                        <li><a href="#" data-select="dessert"><b>DESSERTS</b></a></li>
                                        <li><a href="#" data-select="boisson"><b>BOISSONS</b></a></li>
                                </ul>
                        </div><!--col-sm-12-->
                </div><!--row-->

                <div class="row">
                        {% for plat in plat%}
                        <div class="col-md-6 food-menu {{ plat['categorie'] }} ">
                                <div class="sided-90x mb-30 ">
                                        <div class="s-left"><img class="br-3" src="{{plat['photo']}}" alt="Menu Image"></div><!--s-left-->
                                        <div class="s-right">
                                                <h5 class="mb-10"><b>{{plat['nom']}}</b><b class="color-primary float-right">{{plat['prix']}} €</b></h5>
                                                                <p class="pr-50">{{plat['description']}} </p> <p class="pr-20"></p>
                                                                <form method="post" action="/post_panier/{{ plat.id_plat }}/{{ current_user.id_user }}">
                                                                    <input type="submit" class="plr-20 btn-fill-primary" href="{{ url_for('restaurants') }}" value="Commander">
                                                                </form>


                                        </div><!--s-right-->
                                </div><!-- sided-90x -->
                        </div><!-- food-menu -->

                        {% endfor %}

                </div><!-- row -->
        </div><!-- container -->
</section>

<section class="story-area bg-seller color-white pos-relative">
        <div class="pos-bottom triangle-up"></div>
        <div class="pos-top triangle-bottom"></div>
        <div class="container">
                <div class="heading">
                        <h2>Commentaires</h2>
                </div>

                <div class="row">
                        <div class="col-lg-3 col-md-4  col-sm-6 ">
                                <div class="center-text mb-30">
                                        <div class="ïmg-200x mlr-auto pos-relative">
                                                <h6 class="ribbon-cont"><div class="ribbon primary"></div><b>OFFER</b></h6>
                                                <img src="../CostinRica/images/seller-2-200x200.png" alt="">
                                        </div>
                                        <h5 class="mt-20">Pizza Margherita</h5>
                                        <h4 class="mt-5"><b>$11.90</b></h4>
                                        <h6 class="mt-20"><a href="#" class="btn-brdr-primary plr-25"><b>Order Now</b></a></h6>
                                </div><!--text-center-->
                        </div><!-- col-md-3 -->


                </div><!-- row -->

                <h6 class="center-text mt-40 mt-sm-20 mb-30"><a href="#" class="btn-primaryc plr-25"><b>SEE TODAYS MENU</b></a></h6>
        </div><!-- container -->
</section>

<section class="story-area left-text center-sm-text pos-relative">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="container">
                <div class="heading">
                        <h2>Qui sommes nous?</h2>
                </div>

                <div class="row">
                        <div class="col-md-12">
                                <p style="font-size: large; text-align: center">
                                        {{restaurant['description']}}
                                </p>
                        </div><!-- col-md-6 -->
                </div><!-- row -->
        </div><!-- container -->
</section>

<footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">

                <div class="pt-30">
                        <p class="underline-secondary"><b>Address:</b></p>
                        <p>{{restaurant['rue']}}, {{restaurant['code_postal']}} {{restaurant['ville']}} </p>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Phone:</b></p>
                        <a href="tel:{{restaurant['telephone']}} ">0{{restaurant['telephone']}}</a>
                </div>
                {% endfor %}

        </div><!-- container -->
</footer>


<!-- SCIPTS -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/swiper.js') }}"></script>
<script src="{{ url_for('static', filename='js/restaurant.js') }}"></script>

{% endblock body %}
</html>
