<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    {% block title %}
    {% endblock title %}

    <!-- Fontfaces CSS-->
    <link href="{{ url_for('static', filename='css/fonts/font-face.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/fonts/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/fonts/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='css/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/wow/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/slick/slick.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/fonts/theme.css') }}" rel="stylesheet" media="all">

    <title>Costin Rica - Admin {% block adminTitle %}{% endblock adminTitle %}</title>
</head>

<body class="animsition">
    {% if g.user.is_authenticated and g.user.id_role == 3 %}
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="/admin">
                                <i class="fas fa-tachometer-alt"></i>Admin
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users">
                                <i class="zmdi zmdi-account-o"></i>Utilisateurs
                            </a>
                        </li>
                        <li>
                            <a href="/admin/restaurants">
                                <i class="zmdi zmdi-calendar-note"></i>Restaurants
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="/">
                    Costin Rica
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="active has-sub">
                        <li>
                            <a href="/admin">
                                <i class="fas fa-tachometer-alt"></i>Admin
                            </a>
                        </li>
                        <li>
                            <a href="/admin/users">
                                <i class="zmdi zmdi-account-o"></i>Utilisateurs
                            </a>
                        </li>
                        <li>
                            <a href="/admin/restaurants">
                                <i class="zmdi zmdi-calendar-note"></i>Restaurants
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">{{ current_user.email }}</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="/profil/{{ current_user.id_user }}">
                                                        <i class="zmdi zmdi-account"></i>Mon compte</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="/logout">
                                                    <i class="zmdi zmdi-power"></i>Logout</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            {% block body %}

            {% endblock body %}

        {% else %}
            <div style="padding-top: 10vh; text-align: center">
                <h2>Vous n'avez pas accès à cette page</h2>
                <h4><a href="/">Retourner au menu principal</a></h4>
            </div>
        {% endif %}

<!-- Jquery JS -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Vendor JS -->
    <script src="{{ url_for('static', filename='css/slick/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/animsition/animsition.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circle-progress.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/select2/select2.min.js') }}"></script>

    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</html>