<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Costin Rica - {% block title %}{% endblock title %}</title>
</head>
<header>
    </div>
    <div class="wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 d-flex align-items-center">
					<p class="mb-0 phone pl-md-2">
						<a class="navbar-brand" href="{{url_for('index')}}">Costin <span>Rica</span></a>
					</p>
				</div>
				<div class="col-md-6 d-flex justify-content-md-end">
					<div class="mr-4">
		    			<p class="mb-0 d-flex"></p>
		       		</div>
			   		<div class="reg">
		    			<p class="mb-0">
                            {% if g.user.is_authenticated and (g.user.id_role == 1 or g.user.id_role == 3) %}
                                <a href="{{url_for('get_restaurant')}}">Créer mon restaurant</a>
                                <a href="{{url_for('plat')}}">Créer votre plat</a>
                            {% elif not g.user.is_authenticated%}
                                <a href="{{url_for('register')}}" class="mr-1">S'inscrire</a>
                                <a href="{{url_for('login')}}" class="mr-1">Se connecter</a>
                            {% endif %}
                            {% if g.user.is_authenticated %}
                                <a href="/profil/{{ current_user.id_user }}" class="mr-1">Mon profil</a>
                                <a href="{{url_for('logout')}}" class="mr-1">Se déconnecter</a>
                            {% endif %}
                        </p>
		        	</div>
				</div>
			</div>
		</div>
	</div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Costin <span>Rica</span></a>
	      <div class="order-lg-last btn-group dropdown-menu-right" >
          <a href="{{ url_for('get_panier') }}" >
          	<span class="flaticon-shopping-bag"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right"></div>
        </div>

	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item active"><a href="/" class="nav-link">Accueil</a></li>
	          <li class="nav-item" ><a href="/restaurants" class="nav-link">Tous les restaurants</a></li>
	          {% if g.user.is_authenticated and g.user.id_role == 3 %}
                <li class="nav-item" ><a href="/admin" class="nav-link">Admin</a></li>
              {% endif %}
            </ul>
	      </div>
	    </div>
	</nav>
</header>

{% block body %}
<body>

</body>
{% endblock body %}

<footer class="ftco-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 logo"><a href="/">Costin <span>Rica</span></a></h2>
            </div>
          </div>
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Mon compte</h2>
              <ul class="list-unstyled">
                  {% if g.user.is_authenticated%}
                    <li><a href="/profil/{{ current_user.id_user}}">Mon profil</a></li>
                    <li><a href="/get_panier">Mon panier</a></li>
                  {% else %}
                    <li><a href="/login">Se connecter</a></li>
                    <li><a href="/register">S'inscrire</a></li>
                  {% endif %}
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Restaurants</h2>
              <ul class="list-unstyled">
                <li><a href="/restaurants">Tous les restaurants</a></li>
              </ul>
            </div>
          </div>
          {% if g.user.is_authenticated and (g.user.id_role == 1 or g.user.id_role == 3) %}
              <div class="col-sm-12 col-md">
                 <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Espace restaurateur</h2>
                  <ul class="list-unstyled">
                    <li><a href="{{url_for('get_restaurant')}}">Créer un restaurant</a></li>
                    <li><a href="{{url_for('plat')}}">Ajouter un plat</a></li>
                  </ul>
                </div>
              </div>
          {% endif %}
          {% if g.user.is_authenticated and (g.user.id_role == 1 or g.user.id_role == 3) %}
              <div class="col-sm-12 col-md">
                 <div class="ftco-footer-widget mb-4">
                  <h2 class="ftco-heading-2">Administration</h2>
                  <ul class="list-unstyled">
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/admin/users">Users</a></li>
                    <li><a href="/admin/restaurants">Restaurants</a></li>
                  </ul>
                </div>
              </div>
          {% endif %}
      	</div>
      </div>
    </footer>
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.stellar.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.animateNumber.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/scrollax.min.js')}}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="{{ url_for('static', filename='js/google-map.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</html>